.common {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.slide-to-unlock-bg {
  text-align: center;
  border: 1px solid #f0f0f0;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.slide-to-unlock-bg span {
  position: relative;
  z-index: 5;
  color: #333;
}
.slide-to-unlock-progress {
  position: absolute;
  left: 0;
  top: 0;
  border-radius:  30px 0px 0px 30px;
  left: 1px;
  padding-right: 15px; 
  top: 1px;
}
.slide-to-unlock-handle {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  border: 1px solid #dfdfdf;
  z-index: 6;
  cursor: move;
}
